// Theme's Palette
@import("F:/01_Projects/Personal/blogs/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("F:/01_Projects/Personal/blogs/docs/.vuepress/styles/palette.styl")